* {
	box-sizing: border-box;
}

html,
body,
#app {
	margin: 0;
	padding: 0;
	height: 100%;
}

html {
	font-size: 100%;
}

body {
	color: rgba(0, 0, 0, 0.87);
	background: #666 !important;
}

a {
	cursor: pointer;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

.sortable-ghost {
	box-shadow: inset 2px 2px 12px 0px rgba(0,0,0,.4);
}

.fade-enter-active, .fade-leave-active {
	transition-property: opacity;
	transition-duration: .2s;
	overflow: hidden;
}

.fade-enter-active {
	transition-delay: 0;
}

.fade-enter, .fade-leave-active {
	opacity: 0;
}

.mu-dialog{
	max-height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.float-button {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 10;
	-webkit-backface-visibility: hidden;
}
@media(max-width: 700px){
	.float-button {
	    width: 40px;
	    height: 40px;
	}
	.mu-dialog{
		width:100%
	}
	.md-button.md-fab{
    height: 20px;
    width: 36px;
	}
}

.tags{
	position: fixed;
	top:0;
	display: flex;
	justify-content: center;
	height:5px;
	width:100%;
	z-index: 3000
}
.tags > .mu-icon-button{
	width: 30px;
	height:3px;
	display: block;
	margin-top: -18px;
	border-radius: 2px
}
